<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/">Recipe</a></li>
    <li><a href="/Drinks">Cocktails</a></li>
  </ul>
  <div>
    {{#if user}}
      <span class="nav-greet">Hello, {{user.firstname}}!</span>
    {{/if}}

    <a href="/saved/saved-recipes"><span class="nav-link">View My Recipes</span></a>
    <a href="/login"><span class="nav-link">Logout</span></a>
  </div>
</nav>