<body class="aboutBody">
{{> navbar }}
<h1 class="aboutHeading">About Us</h1>

<div class="cardContainer">
    <div class="card">
        <img src="/images/new exotic bird.jpg" alt="jagProfile" style="">
            <h2><b>Jose</b></h2>
        <div class="cardInfo">
            <p>In the beginning, the universe was created. This has made a lot of people mad and is widely considered a bad move.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/matt.jpg" alt="Avatar" style="">
            <h2><b>Matt</b></h2>
        <div class="cardInfo">
            <p>I'm the dude playing a dude disguised as another dude. </p>
        </div>
    </div>
    <div class="card">
        <img src="/images/greg.jpg" alt="Avatar" style="">
            <h2><b>Greg</b></h2>
        <div class="cardInfo">
            <p>Mama says that alligators are onery because they got all them teeth and no toothbrush.</p>
        </div>
    </div>
</div>

<div class="mission">
    <p>"Introducing 'Culinary Chronicles', a dynamic and interactive food blog platform tailored for the modern food enthusiast.
         Our platform isn't just another recipe site. It's a culinary journey where users can rate dishes, leave insightful comments, and truly engage with the content.
         With visually appealing recipe cards, an intuitive rating system, and personalized user experiences, 'Culinary Chronicles' is redefining the way we share and explore the joy of cooking.
         Whether you're a seasoned chef or someone looking for a simple weeknight dinner, dive into a world of flavors with us and chronicle your culinary adventures."</p>
</div>

</body>