<body class="aboutBody">
{{> navbar }}
<h1 class="aboutHeading">About Us</h1>

<div class="cardContainer">
    <div class="card">
        <img src="/public/images/new exotic bird.jpg" alt="jagProfile" style="">
        <div class="cardInfo">
            <h2><b>Jose</b></h2>
            <p>A work in progress student learning full stack web development.</p>
        </div>
    </div>
    <div class="card">
        <img src="" alt="Avatar" style="">
        <div class="cardInfo">
            <h2><b>Matt</b></h2>
            <p>Lorem ipsum</p>
        </div>
    </div>
    <div class="card">
        <img src="" alt="Avatar" style="">
        <div class="cardInfo">
            <h2><b>Gregory</b></h2>
            <p>Lorem ipsum</p>
        </div>
    </div>
</div>

</body>