<body class="aboutBody">
{{> navbar }}
<h1 class="aboutHeading">About Us</h1>

<div class="cardContainer">
    <div class="card">
        <img src="/images/new exotic bird.jpg" alt="jagProfile" style="">
            <h2><b>Jose</b></h2>
        <div class="cardInfo">
            <p>We apologize for the inconvenience.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/matt.jpg" alt="Avatar" style="">
            <h2><b>Matt</b></h2>
        <div class="cardInfo">
            <p>I'm the dude playing a dude disguised as another dude. </p>
        </div>
    </div>
    <div class="card">
        <img src="/images/greg.jpg" alt="Avatar" style="">
            <h2><b>Greg</b></h2>
        <div class="cardInfo">
            <p>Mama says that alligators are onery because they got all them teeth and no toothbrush.</p>
        </div>
    </div>
</div>

</body>