<h1>Login</h1>
<form action="/login" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<h1>Signup</h1>
<form action="/login" method="post">
    <div>
        <label for="username">First Name:</label>
        <input type="text" id="firstname" name="username">
    </div>
    <div>
        <label for="username">Last Name:</label>
        <input type="text" id="lastname" name="username">
    </div>
    <div>
        <label for="username">Email:</label>
        <input type="text" id="email" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <input type="checkbox" id="newsletter" name="newsletter">
        <label for="newsletter">Would you like to signup for our weekly newsletter?</label>
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>

<script src="/public/js/login.js"></script>


