body, html {
    height: 100%;
    margin: 0;
}

.aboutBody {
    background-image: url(/images/homepage3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.aboutHeading {
    font-family: 'Sacramento', cursive;
    color:#FFD700;
    font-size: 80px;
    text-decoration: none;
}

.cardContainer {
    font-family: 'Sacramento', cursive;
    color: #FFD700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}