body, html {
    height: 100%;
    margin: 0;
}

.homepageBody {
    background-image: url(/images/homepage3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;

}

img {
    height: 250px;
    width: 300px;
    margin: 0 auto;
    border-radius:  10% 10% 10% 10%;
}

h1 {
    text-decoration: underline;
    margin-left: 1%;
}


.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.626);
    /* border: 4px solid #ffb30088; */
    box-shadow: 0 0 12px #ffb400;
    border-radius: 9% 9% 2% 2%;
    padding: 8px;
    
}

.recipe-img {
    transition: transform 0.5s;
}

.recipe-img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: end;

}

nav li a{
    list-style: none;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Sacramento', cursive;
}

nav li a:hover{
    color: #FFD700;
}

.nav-link {
    color: #fff;
    margin: 10px;;
    border: 1px solid #fff;
    padding: 10px;
}

.nav-greet {
    color: #fff;
    font-size: 22px;
    margin-right: 30px;
}

.fas {
    color: #fff;
}

.recipe-detail {
    font-size: 22px;
}

.recipe-detail-img {
    margin-left: 10px;
    height: 500px;
    width: 500px;
}

.recipe-link {
    text-decoration: none;
    color: #000;
}

.star {
    cursor: pointer;
    font-size: 24px;
}

.star.outlined {
    color: black;
    content: "☆"; 
}

.star.filled {
    color: gold;
    content: "★"; 
}

input[type="radio"]:hover ~ .star,
input[type="radio"]:hover ~ input[type="radio"] + .star {
    color: #ffb400; 
}

input[type="radio"]:checked ~ .star {
    color: #ffb400; 
}

.recipeHeading {
    font-family: 'Sacramento', cursive;
    color:#FFD700;
    font-size: 80px;
    text-decoration: none;
}

/* The Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal textarea {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    resize: none;
    color:#FFD700;
    outline: none;
    background-color: rgba(0, 0, 0, 0.54);
}

.modal ::placeholder {
    color: #FFD700;
}

.modal h2 {
    font-family:'Pacifico', cursive;
    font-size: 32px;
}

.modal-content {
    background-color: #fefefebe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

.modal #commentBtn {
    margin: 10px auto;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.homepageBody button {
    border: none;
    outline: 0;
    display: block;
    padding: 8px;
    color: #D35400;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 10px;
    font-family: 'Pacifico', cursive;

}

.success-message {
    display: none;
    font-family: 'Pacifico', cursive;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.coming-soon {
    color: #D35400
}
.recipe-card .save-button {
    background-color: #525200;
}

.log-links {
    display: flex;
    flex-wrap: nowrap;
}

.log-links a {
    text-decoration: none;
}

/*Hamburger*/

.hamburger-menu {
    position: relative;
    display: none;
    width: 50px;
    color: #fff;
}

.hamburger-icon {
    font-size: 34px;
    cursor: pointer;
}

.menu-links {
    display: none;
    position: absolute;
    top: 50px;
    left: -80px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.646);
    border: 1px solid #ccc;
}


.menu-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu-links a:hover {
    background-color: rgba(238, 238, 238, 0.59);
}



@media  (max-width: 920px) {
    .main-nav li a {
        font-size: 35px;
    }
    .hamburger-menu {
        display: block;
    }
    .nav-link {
        display: none;
    }

    .nav-greet {
        margin-top: 10px;
    }
}





